{% extends "auctions/layout.html" %}
{% block body %}
    <div class="container mt-4">
        <div class="row">
            {% for listing in listings %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if listing.image %}
                            <img src="{{ listing.image }}"
                                 class="card-img-top"
                                 alt="{{ listing.title }}">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <p class="card-text">
                                {{ listing.description|truncatewords:20 }}
                                <a href="{% url 'listings:listing_detail' listing.id %}">Read More</a>
                            </p>
                            <p class="card-text">{{ listing.display_bid }}</p>
                            <p class="card-text">
                                <small class="text-muted">Listed on {{ listing.date|date:"M d, Y" }}</small>
                            </p>
                            <a href="{% url 'listings:listing_detail' listing.id %}"
                               class="btn btn-primary mt-auto">View Listing</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p>No listings available.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
